<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RadioServer.Properties.Settings>
            <setting name="CONTROL_TCP_PORT" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="KEYS_FILE" serializeAs="String">
                <value>keys.xml</value>
            </setting>
            <setting name="LDAP_PERMISSION_DEF_FILE" serializeAs="String">
                <value>ldap_permissions.def</value>
            </setting>
            <setting name="FILE_STORE_ROOT" serializeAs="String">
                <value>audio</value>
            </setting>
            <setting name="DB_FILE" serializeAs="String">
                <value>database.sqlite</value>
            </setting>
            <setting name="LDAP_USERNAME" serializeAs="String">
                <value>ldap</value>
            </setting>
            <setting name="LDAP_PASSWORD" serializeAs="String">
                <value>c7TGkkHyGJlsIqQavNa8Y-7ZgPeN_2dm</value>
            </setting>
            <setting name="LDAP_DOMAIN" serializeAs="String">
                <value>gymlit.cz</value>
            </setting>
            <setting name="LDAP_OU" serializeAs="String">
                <value>OU=Zaměstnanci,OU=Uživatelé,DC=gymlit,DC=cz</value>
            </setting>
            <setting name="SECURITY_CACHE_EXPIRATION" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SCHEDULER_CHECK_INTERVAL" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PLAYBACK_DEV_OUT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCHEDULER_PADDING_START" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SCHEDULER_PADDING_END" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LOG_INFO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_WARNING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_ERROR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_FILE" serializeAs="String">
                <value>server.log</value>
            </setting>
        </RadioServer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RadioServer.Properties.Settings>
            <setting name="SQLITE_CONN_STRING" serializeAs="String">
                <value>Data Source={0};Version=3;PRAGMA foreign_keys = ON;</value>
            </setting>
            <setting name="PROGRAM_USAGE" serializeAs="String">
                <value>Usage:

-c or -console ... Run server in console mode (for debugging purposes).

-i or -install ... Installs Windows Service.

-u or -uninstall ... Uninstalls Windows Service.
</value>
            </setting>
            <setting name="SERVICE_NAME" serializeAs="String">
                <value>Radio Server</value>
            </setting>
            <setting name="SERVICE_DISPLAYNAME" serializeAs="String">
                <value>Radio Server</value>
            </setting>
            <setting name="SERVICE_DESCRIPTION" serializeAs="String">
                <value>This service is school broadcast radio daemon. It recieves broadcast request from the network and play them to school sound system.</value>
            </setting>
        </RadioServer.Properties.Settings>
    </applicationSettings>
</configuration>